extends layout

block content
    //h1= messages[0]//title
    //p #{title} is super gay, confimed by scientists.

    form(action="/questions", method="get")
        | Enter a question:
        br
        input(type="text", name="question")
        br
        br
        input(type="submit", value="Ask Question")


    h1 Messages
    p
        div#lists
            for msg in data.msgList
                div.item #{msg}