extends layout

block content
    //h1= messages[0]//title
    //p #{title} is super gay, confimed by scientists.

    a(href="http://localhost:3000/login?nextlink=http://localhost:3000/") Click to Login

    form(action="/questions", method="get")
        | Enter a question:
        input(type="text", name="question")
        br
        | Enter your name:
        input(type="text", name="asker")
        br
        br
        input(type="submit", value="Ask Question")

    -var a = "'"
    - for msg in data.msgList
       - a += msg + "<br />"
    - a += "'"

    h1 Messages
    p
        div#lists

    script.
        function func() {
            //var a = !{data.msgList};
            var str = !{a};//"";
            //a.forEach(function (t) { str += t + "<br/>"; });
            document.getElementById("lists").innerHTML = str;
        }