extends layout

block content
    //h1= messages[0]//title
    //p #{title} is super gay, confimed by scientists.

    a(href="http://localhost:3000/login?nextlink=http://localhost:3000/") Click to Login

    form(action="/questions", method="get")
        | Enter a question:
        input(type="text", name="question")
        br
        | Enter your name:
        input(type="text", name="asker")
        br
        br
        input(type="submit", value="Ask Question")


    h1 Messages
    p
        div#lists
            for msg in data.msgList
                div.item #{msg}