extends layout

block content
    h1  You asked about: #{question}!
    p
        h1 Results:
        .results bla bla bla

    script alert(1);

    //p
    //    ul#mylist
    //<b><u>abba</u></b>

    //script.
    //    $.ajax();
    //    var file = new FileReader().
    //    document.getElementById("mylist").innerHTML = "";
    //    var str = "";
    //    msgs.forEach(function (t) { str += "<li>"+t.toString()+"</li>"; });
    //    document.getElementById("mylist").innerHTML = str;
